<div class="post" *ngIf="post$ | async as post; else loading">
  <div class="post-header">
    <h1 class="post-title">
      {{ post.title }}
    </h1>
    <button routerLink="/" class="btn btn-dark">
      Home page
    </button>
  </div>
  <div class="post-content">
    <quill-view-html [content]="post.text"></quill-view-html>
  </div>
  <div class="post-footer">
    <small> {{ post.author }} </small>
    <small> {{ post.date | date:"medium":null:'ru' }} </small>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
