<div class="card">
    <div class="card-header">
        <h2>My post</h2>
        <small>Vlad Korotkov</small>
    </div>
    <div class="card-content">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus itaque laborum facilis possimus sapiente sint 
            consequatur nobis eum explicabo illum!
        </p>
    </div>
    <div class="card-footer">
        <button
            [routerLink]="['post/', 1212]" 
            class="btn btn-dark">
            Open
        </button>
        <small>25.04.2020</small>
    </div>
</div>
